<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualizar productos</title>
    <link rel='stylesheet' href='/css/style.css' />
    <link rel='stylesheet' href='/js/utilies.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  
</head>
<body>
  <!-- Navbar -->
  <% include partials/navbar%>
    <h1 class="title-mod">Modificar Producto</h1>
    <!-- <form action="/products/update/<%= products.id_product %>" method="POST">
        <label for="">Nombre del Producto</label>
        <input type="text" value ="<%= products.name_product %>"name="name_product">
        <label for="">Marca</label>
        <input type="text" value ="<%= products.brand %>"name="brand">
        <label for="">Tipo</label>
        <input type="text" value ="<%= products.type %>" name="type">
        <label for="">Descripci칩n</label>
        <input type="text" value ="<%= products.description %>" name="description">
        <label for="">Precio</label>
        <input type="number" value ="<%= products.price %>" name="price">
        <label for="">Stock</label>
        <input type="number" value ="<%= products.stock %>" name="stock">
        <label for="">A침adido por</label>
        <input type="number" value ="<%= products.id_user %>" name="id_user">
        <input type="submit" value="Enviar">
    </form> -->
    <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-8 mb-4 margin-auto">
              <ul class="nav md-pills nav-justified pills-primary font-weight-bold">
                <li class="nav-item form-btn">
                  <a class="nav-link active" id="btn-form" data-toggle="tab" href="#tabCheckoutBilling123" role="tab"
                    onclick="selectBtn(this)">Producto</a>
                </li>
              </ul>
              <div class="tab-content pt-4">
                <!--Panel 1-->
                <div class="tab-pane fade in show active _form" id="tabCheckoutBilling123" role="tabpanel">
                    <form action="/products/update/<%= products.id_product %>" method="POST" >
                        <div class="row">
                          <div class="col-md-6 mb-4">
                            <label for="">Nombre Producto</label>
                            <input type="text" id="firstName" class="form-control" value ="<%= products.name_product %>" name="name_product">
                          </div>
                          <div class="col-md-6 mb-2">
                            <label for="">Marca</label>
                            <input type="text" id="lastName" class="form-control" value ="<%= products.brand %>" name="brand">
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6 mb-4">
                            <label for="">Tipo</label>
                            <!-- <label class='input-select'>
                              <select name='type'>
                                <option value='PC'>PC</option>
                                <option value='Consola'>Consola</option>
                                <option value='Movil'>Movil</option>
                                <option value='Tv'>Tv</option>
                              </select>
                            </label> -->
                            <input type="text" id="lastName" class="form-control" value ="<%= products.type %>" name="type">
                        </div>
                          <div class="col-md-6 mb-2">
                            <label for="lastName" class="">Precio</label>
                            <input type="number" id="lastName" class="form-control" value ="<%= products.price %>" name="price">
                          </div>
                        </div>
                        <div class="col-md-6 mb-2">
                          <label for="lastName" class="">Desdripci칩n</label>
                          <hr>
                          <textarea name="description" clos="50" rows="4" placeholder ="<%= products.description %>"></textarea>
                        </div>
                        <hr>
                        <div class="row">
                          <div class="col-md-6 mb-4">
                            <label for="lastName" class="">Stock</label>
                            <input type="number" id="lastName" class="form-control" name="stock" value ="<%= products.stock %>">
                          </div>
                          <div class="col-md-6 mb-2">
                            <label for="lastName" class="">A침adido por</label>
                            <input type="number" id="lastName" class="form-control" name="id_user" value ="<%= products.id_user %>">
                          </div>
                        </div>
                        <hr>
                        <input type="submit" value="Modificar Producto">
                      </form>
                </div>
                <!--/.Panel 1-->
              </div>
              <!-- Pills panels -->
            </div>
          </div>
        </div>
      </div>
   
   
 

      <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
</body>
</html>